@media only screen and (max-width: 600px)  {
    .big-picture { width: 100% !important;}
    h1 { font-size: 100px !important; }
    h3 { font-size: 24px !important; }
    #tour { background-position: right !important; }
    .contact-link { width: 100% !important; }
}

/* Structure */
img {
    width: 100%;
    height: auto;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

html,body {
    height:100%;
    margin:0;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 22px;
    text-decoration: none;
}

html>body .content {
  height:auto;
}

#content {
  min-height:100%;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.row-inner {
    padding: 30px;
}

/* Images */

.big-picture {
    display: block;
    width: 75%;
    max-width: 960px;
    margin: 30px auto;
}

.lil-picture {
    display: block;
    width: 75%;
    max-width: 360px;
    margin: 30px auto;
}

.caption {
    opacity: .5;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    margin: 30px 0;
}

.caption i, p {
    display: inline-block;
    margin: 0 5px;
}

/* Elements */

.banner {
    max-width: 540px;
    margin: auto;
}

.text-block {
    max-width: 540px;
    margin: 90px auto;
}

.tour {
    max-width: 960px;
    margin: auto;
}

.tour-date {
    width: 100%;
    margin: 30px auto;
    font-size: 20px;
    display: table;
}

.tour-date:hover {
    background-color: white;
}

.details {
    width: 75%;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    border: 1px solid;
}

.detail {
    padding: 2.5px;
}

.link {
    width: 25%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    border: 1px solid;
    border-left: 0px;
}

.link i {
    padding: 10px;
    vertical-align: middle;
}

.down-arrow {
    bottom: 0px;
    margin: 30px 0;
    position: absolute;
    width: 100%;
}


.contact-link {
    display: inline-block;
    width: 50%;
}

.contact-link i {
    padding: 15px;
}

/* Section Colors */

#top {
    background-image: url(/assets/images/little-jamaica-views.jpg);
    background-position: bottom;
    background-size: cover;
    color: white;
}

#tour {
    background-image: url(/assets/images/mike-and-benny.jpg);
    background-position: bottom;
    background-size: cover;
}

#footer {
    background-image: url(/assets/images/sky.jpg);
    background-position: bottom;
    background-size: cover;
}

/* Typography */


h1 {
    font-size: 130px;
    line-height: .75em;
    margin: 30px;
}

h3 {
    font-weight: 100;
}

a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}